.flex {
    display: flex;
}

.flexAllCenter {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 800px;
    background-image: url(./pexels-photo-6210916.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div_content {
    justify-content: space-between;
    width: 1180px;
    height: 700px;
    margin: 0 auto;
    color: white;
}

.div_content1 {
    width: 500px;
    height: 700px;
}

.div_content1 h4 {
    font-size: 3rem;
    text-align: left;
    margin-bottom: 1rem;
}

.div_content1 p {
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
}

.div_content2 {
    width: 500px;
    height: 700px;
}

form {
    height: 500px;
    display: flex;
    flex-direction: column;
}

.input {
    background-color: white;
    width: 400px;
    height: 500px;
    margin: 0 auto;
}

.input form {
    align-items: center;
    justify-content: center;
}

input {
    width: 300px;
    height: 50px;
    padding-left: 1rem;
    margin-bottom: 1rem !important;
}

select {
    color: #757575;
    padding-left: 1rem;
    width: 320px;
    height: 50px;
    margin-bottom: 1rem;
}

button {
    width: 320px;
    height: 50px;
    border-style: none;
    padding-left: 1rem;
    background-color: red;
    color:white;
    margin-top: 1rem !important;
    font-weight: bold;
}